/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

// ul li {
//     list-style: none;
// }

img {
    vertical-align: top;
}
div, section,header,footer {
    margin: 0px;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-size: inherit;
//     font-weight: inherit;
// }
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
li {
    font-family: 'Open Sans', sans-serif;
    color:#2A1717;
}
@mixin mfont ($s,$w,$m){
    font-size: $s;
    font-weight: $w;
    margin-top: $m;
    margin-bottom: $m;
    line-height: $s*1.2;
    

 }
h1 {
    @include mfont (32px,400,16px);

}
h2{
    @include mfont (32px,400,16px);
    text-align: center;
}
h3{
    @include mfont (22px,400,16px);
    
}
h4{
    @include mfont (20px,600,16px);
    text-align: center;
}

p {
    text-align: justify;
    @include mfont (18px,400,10px);
}
li {
    
    @include mfont (18px,400,10px);
}




/*--------------------*/


$col1:#d8d2d1;
$col2:#4B4444;
$col3:#F8F8F8;
$col4:#EA8344;


@mixin cards-pemplate ($w,$h,$m){
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    >div {
        width: $w;
        margin-right:$m;
        margin-left: $m;
        height: $h;

    }
}
@mixin card-pemplate ($m,$p,$col,$mwi,$mhi) {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    
    padding: $p;
    margin-top: $m;
    margin-bottom: $m;
    background-color: $col;
    h4 {
        margin-bottom: 20px;
    }
    img {
        max-width: $mwi;
        max-height: $mhi;
    }



}
body {
    
    width: 100%;
    max-width: 100%;
    background-color: $col1;

    img {
        max-width: 80%;
    }
}
.wrapper {
    
    width: 100%;
    max-width: 100%;
    

    .content {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px 30px 0px;
        .header {
            max-width: 1200px;
            margin-left: 0px;
            margin-right: auto;
            div {
                max-width: 500px;
            }
        }

    }

}
header {
    background-image: url(images/back1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
  

}
#wrapper-machines{
    background-color: $col1 ;
}
.cards_machines {
    width: 100%;
    min-width: 0;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    
    .card_machines {
        @include card-pemplate(0px, 15px,$col3,80%,60%);
        min-height: 0px;
        margin: 15px;
        height:340px;
        display: flex;
        justify-content: center;
        align-items: center;

        h4 {
            text-align: center;
            margin-bottom: 50px;

        }
        img {
            margin: auto;
        }
        
    }

}
.prev,
.next {
  position: absolute;
  top: 43%;
  height: 40px;
  width: 40px;
  z-index: 1;
  cursor: pointer;
}
.next {
  right: 4px;
}
.prev {
  left: 4px;
}
.prev :hover,
.next :hover {
  cursor: pointer;
 }
#wrapper-materials{
    background-color: $col1 ;

    .btn {
        color: $col3; 
        font-size: 18px;
        align-self: center;
        text-align: center;
        width: 400px;
        height: 50px;
        background: $col2;
        box-shadow:none;
        border: 2px solid $col2;
      }
      
      .btn:hover{
        background: $col4;
        box-shadow:none;
        border: 2px solid $col4;
        cursor: pointer;;
      }
      
      .btn:active{
        
        background:$col4;
        box-shadow:none;
        border: 2px solid $col4;
        
      }
      @media screen and (max-width: 425px) {
          .btn {
              width: 300px;
          }
      }
}
.cards_materials {
    @include cards-pemplate (30%,320px,1%);
    >div {
        @include card-pemplate(20px, 15px,$col4, 80%,70%);   
    }
    @media screen and (max-width: 767px) {
        >div {
            width: 345px;
            margin-right:auto ;
            margin-left:auto ;
            
        }
      }

      





}
#wrapper-adds{
    background-color: $col2 ;
    h2 {
        color: $col3;
    }
}
.cards_adds {
    @include cards-pemplate (30%,520px,1%);
    >div {
        @include card-pemplate(20px, 25px,$col1, 100%,100%);     
    }
    @media screen and (max-width: 1256px) {
        >div {
            width: 90%;
            margin-right:auto ;
            margin-left:auto ;
            height:fit-content;
            
        }
      }
}
#wrapper-second_hand{
    background-color: $col1 ;
}
.cards_second_hand {
   @include cards-pemplate (400px,350px,1%);
    >div {
        @include card-pemplate(10px,15px,$col3,95%,80%); 
    }
    @media screen and (max-width: 930px) {
        >div {
            width: 500px;
            margin-right:auto ;
            margin-left:auto ;
            height:fit-content;
            
        }
      }
}
#footer{
    background-color: $col2 ;
    h2, h3, a, p {
      color: $col3;   
    }
    p {
        margin-top: 35px;
    }
   
}
.footer__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    >img {
        width: 600px;
    }
    .footer__img{
        width:fit-content;

    }
}

