@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

div, section, header, footer {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
li {
  font-family: 'Open Sans', sans-serif;
  color: #2A1717;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 38.4px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 38.4px;
  text-align: center;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 26.4px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 24px;
  text-align: center;
}

p {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 21.6px;
}

li {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 21.6px;
}

/*--------------------*/
body {
  width: 100%;
  max-width: 100%;
  background-color: #d8d2d1;
}

body img {
  max-width: 80%;
}

.wrapper {
  width: 100%;
  max-width: 100%;
}

.wrapper .content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 30px 0px;
}

.wrapper .content .header {
  max-width: 1200px;
  margin-left: 0px;
  margin-right: auto;
}

.wrapper .content .header div {
  max-width: 500px;
}

header {
  background-image: url(images/back1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
}

#wrapper-machines {
  background-color: #d8d2d1;
}

.cards_machines {
  width: 100%;
  min-width: 0;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.cards_machines .card_machines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #F8F8F8;
  min-height: 0px;
  margin: 15px;
  height: 340px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.cards_machines .card_machines h4 {
  margin-bottom: 20px;
}

.cards_machines .card_machines img {
  max-width: 80%;
  max-height: 60%;
}

.cards_machines .card_machines h4 {
  text-align: center;
  margin-bottom: 50px;
}

.cards_machines .card_machines img {
  margin: auto;
}

.prev,
.next {
  position: absolute;
  top: 43%;
  height: 40px;
  width: 40px;
  z-index: 1;
  cursor: pointer;
}

.next {
  right: 4px;
}

.prev {
  left: 4px;
}

.prev :hover,
.next :hover {
  cursor: pointer;
}

#wrapper-materials {
  background-color: #d8d2d1;
}

#wrapper-materials .btn {
  color: #F8F8F8;
  font-size: 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 400px;
  height: 50px;
  background: #4B4444;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #4B4444;
}

#wrapper-materials .btn:hover {
  background: #EA8344;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #EA8344;
  cursor: pointer;
}

#wrapper-materials .btn:active {
  background: #EA8344;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #EA8344;
}

@media screen and (max-width: 425px) {
  #wrapper-materials .btn {
    width: 300px;
  }
}

.cards_materials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards_materials > div {
  width: 30%;
  margin-right: 1%;
  margin-left: 1%;
  height: 320px;
}

.cards_materials > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #EA8344;
}

.cards_materials > div h4 {
  margin-bottom: 20px;
}

.cards_materials > div img {
  max-width: 80%;
  max-height: 70%;
}

@media screen and (max-width: 767px) {
  .cards_materials > div {
    width: 345px;
    margin-right: auto;
    margin-left: auto;
  }
}

#wrapper-adds {
  background-color: #4B4444;
}

#wrapper-adds h2 {
  color: #F8F8F8;
}

.cards_adds {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards_adds > div {
  width: 30%;
  margin-right: 1%;
  margin-left: 1%;
  height: 520px;
}

.cards_adds > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d8d2d1;
}

.cards_adds > div h4 {
  margin-bottom: 20px;
}

.cards_adds > div img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 1256px) {
  .cards_adds > div {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

#wrapper-second_hand {
  background-color: #d8d2d1;
}

.cards_second_hand {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards_second_hand > div {
  width: 400px;
  margin-right: 1%;
  margin-left: 1%;
  height: 350px;
}

.cards_second_hand > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #F8F8F8;
}

.cards_second_hand > div h4 {
  margin-bottom: 20px;
}

.cards_second_hand > div img {
  max-width: 95%;
  max-height: 80%;
}

@media screen and (max-width: 930px) {
  .cards_second_hand > div {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

#footer {
  background-color: #4B4444;
}

#footer h2, #footer h3, #footer a, #footer p {
  color: #F8F8F8;
}

#footer p {
  margin-top: 35px;
}

.footer__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content > img {
  width: 600px;
}

.footer__content .footer__img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/*# sourceMappingURL=style.css.map */