
body {
    margin:  0px auto;
    padding:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1440px;
    background-color: #DFD1CD;

}
p, h1, h2, h3, h4, h5, .btn , ul, li {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Cormorant Garamond', serif; */
    color:#2A1717;
}
p {
  text-align: justify;
}

.introduction {
  background-size: 100%;
}
section {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  width: 1440px; 
  margin: 0px auto 0px auto;

}
footer {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  width: 1440px; 
  margin: 0px auto 0px auto;
  background-color: #4B4444;
 

}

.sec3 {
  background-color: #4B4444;
}
.sec3 h2 {
  color: #F7F7F7;
}

footer p, footer h1, footer h2, footer h3, footer h4, footer h5, footer .btn ,footer ul,footer li, footer a {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  color:#F7F7F7;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px; 
  margin: 0px auto 0px auto;
  background-image: url(images/back1.jpg) ;
  background-repeat: no-repeat;
  background-size: cover; 

}

div {
  
  padding: 0px;
  margin:  0px;
  
 
}
.logodiv {
  width: 300px;
}

h4, h2 {
    text-align: center ;
}
h2 {
  font-size: 34px;
  font-weight: normal;
}

.card {
    width:350px;
    height: 450px;
    background-color:#CEBCB6;
    border-radius: 4px;
    box-shadow: 0.4em 0.4em 5px rgba(191,138,123,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.cardd {
    width:300px;
    height: 400px;
    border-radius: 4px;
    background-color: #EA8344;
    box-shadow: 0.4em 0.4em 5px rgba(209,73,14,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
}

.card3 {
  width:300px;
  height: 500px;
  border-radius: 4px;
  background-color: #DDCAC7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0.4em 0.4em 5px #2A1717;

}

.card4 {
  width:500px;
  height: 450px;
  border-radius: 4px;
  background-color: #DDCAC7;
  box-shadow: 0.4em 0.4em 5px rgba(191,138,123,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

}



.imgg, .img1 {
  align-self: center;
}
.imgmachine {
  width: 200px;
}

.section3 {
    
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #ebebeb; */

}


.screen1 {
  margin: 0px auto 0px auto;
  justify-content: space-between;
  margin-bottom: 50px;
 
}

.screen2 {
    margin: 0px auto 0px auto;
    width: 1100px; 
     
    display: inline-flex;
    justify-content: space-between;
   
}

.screen {
 
    margin: 0px auto 0px auto;
    width: 1200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.str {
    text-align: center;
    width: 1200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    /* margin-bottom: 45px; */

}
.topic {
  text-align: center;
}
.slider {
  align-self: center;
  width :1200px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  /* background-color: aqua; */

}
.slider3 {
  width :1200px;
  align-self: center;
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  align-content: space-around;
  /* background-color: aqua; */
}

.content {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 1200px; 
  display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.contentfoot {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 1200px; 
  display: flex;
    
}

.btn {
  color: #F7F7F7; 
  font-size: 18px;
  align-self: center;
  text-align: center;
  width: 400px;
  height: 50px;
  background: #2A1717;
  box-shadow:none;
  /* border: none; */
  border: 2px solid #2A1717;
}

.btn:hover{
  background: #DF651A;
  box-shadow:none;
  /* border: none; */
  border: 2px solid #DF651A;
  cursor: pointer;;
}

.btn:active{
  
  background:#DF651A;
  box-shadow:none;
  /* border: none; */
  border: 2px solid #DF651A;
  
}
.text {
  width : 600px ;
}
.map {
  width: 600px;
}
.section4 {
  background-color: #E8E0DF;
}






@media screen and (min-width: 1400px) {
    .ant-carousel {
      max-width: 1100px;
    }
  }
  
  @media screen and (min-width: 991px) and (max-width: 1399px) {
    .ant-carousel {
      max-width: 85%;
    }
  }
  
  @media screen and (max-width: 990px) {
    .ant-carousel {
      max-width: 85%;
    }
  }
  @media screen and (max-width: 767px) {
    .ant-carousel {
      max-width: 85%;
    }
  }
  @media screen and (max-width: 575px) {
    .ant-carousel {
      max-width: 85%;
    }
  }
  
  .ant-carousel {
    margin: 50px auto auto;
    padding-top: 10px;
    /* border: 1px solid #ccd;
    background-color: white; */
  }
  
  .ant-carousel-element {
    width: 367px;
    text-align: center;
  }
  
  /* General styles */
  .ant-carousel {
    width: auto;
    position: relative;
  }
  
  .ant-carousel-hider {
    overflow: hidden;
  }
  
  .ant-carousel-list {
    width: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 9px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
  }
  
  .ant-carousel-element {
    display: block;
    flex: 0 0 auto;
  }
  
  /* Navigation item styles */
  div.ant-carousel-arrow-left,
  div.ant-carousel-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 32;
  }
  
  div.ant-carousel-arrow-left {
    left: -40px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat; 
    /* background: url("images/left_arr.png") no-repeat; */
  }
 
   div.ant-carousel-arrow-right {
    right: -40px;
    top: 40%;
    display: block;
    /* width: 400px; */
     background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat; 
    /* background: url("images/right_arr.png") no-repeat; */
  }
  
  div.ant-carousel-arrow-left:hover {
    opacity: 1.0;
  }
  
  div.ant-carousel-arrow-right:hover {
    opacity: 1.0;
  } 
  

  @media (max-width: 1400px){
    body {
      width: 1200px;
    }
    section, header, footer, .section3{
      width : 1200px;
    }
    .content, .screen, .screen1, .screen2, .slider, .slider3, .str {
      margin-top: 30px;
      margin-bottom: 30px;
      width: 1000px; 
     
    }
    .cardd {
      margin-left: 15px;
      margin-right: 15px;
    }
    .card3 {
      width : 700px;
      height:  300px;
      margin-bottom: 20px ;
    }
    .slider3 {
    
      justify-content:center; 
  

    }
    .card4 {
      margin-bottom: 20px ; 
    }
   



  
   }
  @media (max-width: 1199px){
    body {
      width: 100%;
    }
    section, header, footer, .section3{
      width : 100%;
    }
    .content, .screen, .screen1, .screen2, .slider, .slider3, .str {
      justify-content:center;
      display:flex;
      flex-direction: column;

      width: 85%; 
     
    }
    .text {
      width: 85%;

    }
    .card3 {
      width : 340px;
      height:  600px;
    }
    .card4 {
      width : 55%;
     
    }
    .map {
      width: 65%;
    }
    .img1 {
      width : 65%
    }



 
   
   }

  @media (max-width: 991px){

    body {
      width: 100%;
    }
    section, header, footer, .section3{
      width : 100%;
    }
    .content, .screen, .screen1, .screen2, .slider, .slider3, .str {
      justify-content:center;
      display:flex;
      flex-direction: column;

      width: 85%; 
     
    }
    .text {
      width: 85%;

    }
    .card3 {
      width: 95%;
      height:  600px;
    }
    
    .map, .btn {
      width: 85%;
    }
    .card4 {
      width : 85%;
     
    }
  
 

  
   }
  
  @media (max-width: 767px){
 
    .screen2 {
      justify-content:center;
      display:flex;
      flex-direction: column;
    }
    .img1 {
      width : 75%
    }


 
   }
   @media  (max-width: 575px) {
    .card {
      width: 100%;
    }
    .ant-carousel-element {
      width: 100%;
    }
    .card4 {
      height: 350px;
    }
    .imgmachine {
      width: 180px;
    }


  }
  








