
body {
    margin:  0px auto;
    padding:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1440px;
    background-image: url(images/oboi11.png);

}
p, h1, h2, h3, h4, h5, .btn , ul, li {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color:#270949;
}
.introduction {
  /* background-image: url(images/back1.jpg) ;  */
  background-size: 100%;
}
section {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  width: 1440px; 
  margin: 0px auto 0px auto;
  /* background-color: #FF5B3D;  */
}
footer {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  width: 1440px; 
  margin: 0px auto 0px auto;
  background-color: #4B4444;
 

}

footer p, footer h1, footer h2, footer h3, footer h4, footer h5, footer .btn ,footer ul,footer li {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  color:#F7F7F7;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
     width: 1440px; 
    margin: 0px auto 0px auto;
    background-image: url(images/back1.jpg) ;
    background-repeat: no-repeat;


}

div {
  
  padding:0px;
  margin:  0px;
  
 
}
.logodiv {
  width: 300px;
}

h4, h2 {
    text-align: center ;
}

.card {
    width:350px;
    height: 450px;
    background-color:#B3CCCF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#F4F4DB;
 
}

.cardd {
    width:300px;
    height: 400px;
    background-color: #B3CCCF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
}

.card3 {
  width:300px;
  height: 500px;
  background-color: #B3CCCF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

}

.card4 {
  width:500px;
  height: 450px;
  background-color: #B3CCCF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

}

h2 {
  font-size: 30px;
}

.imgg {
  align-self: center;
}

.section3 {
    
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.screen1 {
  margin: 0px auto 0px auto;
   /* width: 1100px;  */
   
  justify-content: space-between;
  margin-bottom: 50px;
  /* background-color: #F4F4DB; */
}

.screen2 {
    margin: 0px auto 0px auto;
    width: 1100px; 
     
    display: inline-flex;
    justify-content: space-between;
    /* background-color:#F4F4DB; */
}

.screen {
 
    margin: 0px auto 0px auto;
    width: 1200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #F4F4DB; */
}
.str {
    text-align: center;
    width: 1200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-bottom: 45px; */

}
.slider {
  
  width :1200px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  /* background-color: aqua; */

}
.slider3 {
 
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  align-content: space-around;
  /* background-color: aqua; */
}

.content {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 1200px; 
}

.btn {
  color: #F7F7F7; 
  
  width: 200px;
  height: 50px;
  background: #270949;
  box-shadow:none;
  /* border: none; */
  border: 2px solid #270949;
}

.btn:hover{
  background: #F95B3D;
  box-shadow:none;
  /* border: none; */
  border: 2px solid #F95B3D;
  cursor: pointer;;
}

.btn:active{
  
  background:#FF5B3D;
  box-shadow:none;
  /* border: none; */
  border: 2px solid #FF5B3D;
  
}
.text {
  width : 600px ;
}
.map {
  width: 600px;
}







@media screen and (min-width: 1400px) {
    .ant-carousel {
      max-width: 1100px;
    }
  }
  
  @media screen and (min-width: 991px) and (max-width: 1399px) {
    .ant-carousel {
      max-width: 800px;
    }
  }
  
  @media screen and (max-width: 990px) {
    .ant-carousel {
      max-width: 700px;
    }
  }
  @media screen and (max-width: 767px) {
    .ant-carousel {
      max-width: 500px;
    }
  }
  @media screen and (max-width: 575px) {
    .ant-carousel {
      max-width: 400px;
    }
  }
  
  .ant-carousel {
    margin: 50px auto auto;
    padding-top: 10px;
    /* border: 1px solid #ccd;
    background-color: white; */
  }
  
  .ant-carousel-element {
    width: 367px;
    text-align: center;
  }
  
  /* General styles */
  .ant-carousel {
    width: auto;
    position: relative;
  }
  
  .ant-carousel-hider {
    overflow: hidden;
  }
  
  .ant-carousel-list {
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
  }
  
  .ant-carousel-element {
    display: block;
    flex: 0 0 auto;
  }
  
  /* Navigation item styles */
  div.ant-carousel-arrow-left,
  div.ant-carousel-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 32;
  }
  
  div.ant-carousel-arrow-left {
    left: -40px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat; 
    /* background: url("images/left_arr.png") no-repeat; */
  }
 
   div.ant-carousel-arrow-right {
    right: -40px;
    top: 40%;
    display: block;
    /* width: 400px; */
     background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat; 
    /* background: url("images/right_arr.png") no-repeat; */
  }
  
  div.ant-carousel-arrow-left:hover {
    opacity: 1.0;
  }
  
  div.ant-carousel-arrow-right:hover {
    opacity: 1.0;
  } 
  

  @media (max-width: 1400px){
    body {
      width: 1200px;
    }
    section, header, footer, .section3{
      width : 1200px;
    }
    .content, .screen, .screen1, .screen2, .slider, .slider3, .str {
      margin-top: 30px;
      margin-bottom: 30px;
      width: 1000px; 
     
    }
    .cardd {
      margin-left: 15px;
      margin-right: 15px;
    }
    .card3 {
      width : 700px;
      height:  300px;
      margin-bottom: 20px ;
    }
    .slider3 {
    
      justify-content:center; 
  

    }
    .card4 {
      margin-bottom: 20px ; 
    }



  
   }
  @media (max-width: 1199px){
    body {
      width: 900px;
    }
    section, header, footer, .section3{
      width : 900px;
    }
    .content, .screen, .screen1, .screen2, .slider, .slider3, .str {
 
      width: 800px; 
     
    }

 
   
   }

  @media (max-width: 991px){
    body {
      width: 766px;
    }
    section, header, footer, .section3{
      width : 766px;
    }
    .content, .screen, .screen1, .screen2, .slider, .slider3, .str {
     
      width: 700px; 
     
    }

    .card3 {
      width : 700px;
      height:  300px;
    
    }
 


    .map {
      width: 500px;
    }
   }
  
  @media (max-width: 767px){
    body {
      width: 570px;
    }
    section, header, footer, .section3{
      width : 570px;
     background-size: cover;
    }
    .content, .screen, .screen1, .screen2, .slider, .slider3, .str {

      width: 500px; 
     
    }
    .screen2 {
      justify-content:center;
      display:flex;
      flex-direction: column;
    }

    .card3 {
      width : 500px;
      height:  400px;
      
    }

 
    .text {
      width: 400px;

    }
   }
  
  @media (max-width: 575px){ 
    body {
      width: 400px;
    }
    section, header, footer, .section3{
      width : 400px;
    }
    .content, .screen, .screen1, .screen2, .slider, .slider3, .str {

      width: 350px; 
     
    }
    .text {
      width: 350px;

    }
    .card3 {
      width : 340px;
      height:  450px;
    }
    
    .map {
      width: 350px;
    }


  }




